<head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Damn Cross Video Player!</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>

<body></body>

<template name="main">

  <header>
    <h1>Welcome to Damn Cross Video Player!</h1>

    <nav>
      <ul>
        <li><a href="{{pathFor route='home'}}">Home</a></li>
        <li><a href="{{pathFor route='about'}}">About</a></li>
      </ul>
    </nav>

  </header>

  <hr />

  <p>Your Screensize: {{screenSize}}</p>
  <p>TODO: get current downstream...</p>

  <div id="content-container">
      {{> yield}}
    </div>

  <hr />

  <footer>... Footer ...</footer>
  
</template>